.col {
  padding-left: 0px;
  padding-right: 0px;
}

.page {
  display: flex;
  background: #fff9f4;
}

.pageContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.boxMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
}

.borderBox {
  /* border: solid 2px; */
  /* box-shadow: 5px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  /* display: flex; */
  /* flex-direction: column; */
}
.roomTitle {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  color: rgba(42, 157, 244);
}

.navButton {
}
