.container_login {
  /* margin-top: 30vh; */
  padding-right: 0px;
  padding-left: 0px;
  width: 600px;
  height: fit-content;
  background: #fff9f4;
}

.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login_input {
  opacity: 0.5;
  border-radius: 15px;
}

.card-header {
  display: flex;
  align-content: center;
  justify-content: center;
}
.card-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  /* width: 100%; */
}

.login_button {
  border-radius: 15px;
  width: 6rem;
  height: 6 rem;
}

.password {
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pass-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  border: black;
}

i {
  position: absolute;
  margin: 3px 0 0 150px;
}


