.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.password {
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.pass-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  border: black;
}

i {
  position: absolute;
  margin: 3px 0 0 150px;
}


