.profileContainer {
  display: flex;
}
.infoSpace {
  margin-top: 35px;
  margin-bottom: 40px;
}

.btn-group-customize {
  display: flex;
  flex-direction: row;
  margin: 0% 0%;
}

.btn-cancel-group {
  justify-content: flex-end;
}

.btn-warning {
  margin-right: 2.5%;
}

