.profileContainer {
  display: flex;
}
.infoSpace {
  margin-top: 35px;
  margin-bottom: 40px;
}

.btn-group-customize {
  display: flex;
  flex-direction: row;
  margin: 0% 0%;
}

.btn-cancel-group {
  justify-content: flex-end;
}

.btn-warning {
  margin-right: 2.5%;
}

.imageProfile-div {
  display: flex;
  flex-direction: row;
}

.image-profile {
  border: 3px solid black;
}

.profile-image-button-group {
  display: flex;
  flex-direction: column;
  /* margin-top: 80px; */
  margin-top: 120px;
  margin-left: 20px;
}

.profile-image-button-group > button {
  margin-top: 10px;
  width: 25%;
}

